@media screen and (max-width: 390px){

    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    *{
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        letter-spacing: 1px;
    }

    body{
        background: url(images.jpeg);
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(15px);
        width: 100vw;
        height: 100vh;
    }

    body::before{
        background: url(tempestade.png);
        background-size: cover;
        background-position: center;
        content: "";
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: rgb(0, 0, 0, 0.15);
        backdrop-filter: blur(3px);
    }

    /* --------------------barra-de-pesquisa------------------- */

    .barra-de-pesquisa{
        height: 80px;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .barra-de-pesquisa input{
        z-index: 1;
        height: 50px;
        width: 89vw;
        border-radius: 20px;
        border: transparent;
        padding-left: 12px;
        backdrop-filter: blur(100px);
        background-color: transparent;
        color: white;
        font-size: 18px;
        font-weight: normal;
        background: rgba(0, 0, 0, 0.20);
    }

    .bi-search{
        position: absolute;
        top: 25px;
        left: 85vw;
        z-index: 1;
        color: white;
        font-size: 20px;
        color: white;
        filter: opacity(70%);
    }

    /* -----------------tela_de_incio------------- */

    .tela_de_inicio{
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        height: 100vh;
        width: 100vw;
        color: white;
    }

    .tela_de_inicio img{
        height: 300px;
        width: 64%;
        border-bottom: 1px solid white;
        z-index: 1;
    }

    .container_inicio{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        z-index: 1;
    }

    .container_inicio h1{
        margin-top: 20px;
        font-size: 30px;
        z-index: 1;
    }

    .container_inicio p{
        margin-top: 10px;
        font-size: 22px;
        text-align: center;
        width: 96vw;
        z-index: 1;
    }

    /* ----------------display------------------ */

    .display{
        display: none;
        flex-direction: column;
        color: white;
    }

    /* ----------temperatura---------------- */

    .container1-temperatura{
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
    }

    .container1-temperatura p{
        margin-left: -25px;
        font-size: 18px;
        filter: opacity(90%);
        z-index: 1;
    }

    .text-container1-temperatura{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 15px;
    }

    .container1-temperatura h1{
        font-size: 23px;
        font-weight: bold;
        z-index: 1;
        margin-left: -10px;
    }

    .bi-geo-alt{
        font-size: 30px;
        z-index: 1;
    }

    .container-img{
        display: flex;
        flex-direction: row;    
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
        width: 100vw;
        z-index: 1;
    }
    
    .container-img img{
        position: relative;
        height: 150px;
        width: 32vw;
        z-index: 1;
        animation: flutuar 0.6s ease-in-out infinite alternate;
    }

    @keyframes flutuar {
        0%{
            top: -5px;
        }
        100%{
            top: 5px;
        }
    }

    .chuva_e_neve{
        display: flex;
        flex-direction: column;
    }


    /* ----------neve------------ */

    .neve-container{
        position: absolute;
        top: 320px;
        left: 40px;
    }

    .neve-container span{
    position: absolute;
    height: 8px;
    width: 7px;
    background-color: transparent;
    box-shadow: -100px 20px 5px white;
    border-radius: 50%;
    animation: neve calc(20s / var(--i)) linear infinite;
    left: calc(65vw * var(--i) / 40);
    }

    @keyframes neve {
        0%{
            top: -8vh;
        }
        100%{
            top: 0vh;
        }
    }

    /* ---------chuva--------------- */

    .chuva-container{
        position: absolute;
        top: 325px;
        left: 20px;
        width: 18vw;
    }
    
    .chuva-container span{
        position: relative;
        background-color: transparent;  
        border-radius: 50%;
        animation: chuva calc(22s / var(--i)) linear infinite;
        left: calc(-1vw * var(--i) / 40);
    }
    
    .chuva-container img{
        height: 20px;
        width: 25px;
    }
    
    @keyframes chuva {
        0%{
            top: -8vh;
        }
        100%{
            top: 0vh;
        }
    }
      
    /* ------------------------texto-temperatura-------------------- */

    .temperatura-texto{
        color: white;
        z-index: 1;
    }

    .temperatura-texto p{
        font-size: 22px;
        width: 36vw;
        z-index: 1;
    }

    .temperatura-texto span{
        font-weight: bold;
        font-size: 26px;
        z-index: 1;
    }

    .container2-temperatura{
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100vw;
        z-index: 1;
        gap: 60px;
    }

    .container-umidade{
        width: 120px;
        display: flex;
        align-items: center;
        gap: 10px;
        z-index: 1;
    }

    .container-umidade span{
        font-size: 21px;
        font-weight: bold;
        z-index: 1;
    }

    .container-umidade p{
        font-size: 19px;
        z-index: 1;
    }

    .bi-droplet{
        font-size: 30px;
        z-index: 1;
    }

    .container-vento{
        width: 130px;
        display: flex;
        align-items: center;
        gap: 10px;
        z-index: 1;
    }

    .container-vento span{
        font-size: 21px;
        font-weight: bold;
        z-index: 1;
    }    
    
    .container-vento p{
        font-size: 19px;
        z-index: 1;
    }

    .bi-wind{
        font-size: 30px;
        z-index: 1;
    }

    /* ----------containers----------- */

    .containers{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-principal{
        height: 250px;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        z-index: 1;
    }

    .container{
        height: 120px;
        width: 26vw;
        border: solid;
        border: transparent;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* backdrop-filter: blur(100px); */
        background-color: transparent;
        color: white;
        z-index: 1;
        background: rgb(0, 0, 0, 0.15);
    }

    .container p{
        font-size: 15px;
        z-index: 1; 
    }

    .container img{
        position: relative;
        height: 75px;
        width: 18vw;
        /* animation: flutuar 1s ease-in-out infinite alternate; */
    }   

    .container p.temp_semana {
        filter: opacity(80%);
        z-index: 1; 
        font-size: 12px;
    }
    .container p.dia_semana {
        margin-top: 5px;
        font-size: 17px;
        font-weight: bolder;
        z-index: 1; 
    }

}
